.register{
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(247, 225, 232, 0.4), rgba(230, 205, 199, 0.4)), url('../../../public/assets/loginbacg.jpg');
    background-size: cover;
    background-position: 0px;
    position: relative;
}
.login h1{
    margin-bottom: 30px;
}
.loginform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loginform label{
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 18px;
}

.loginform input{
    background-color: inherit;
    border: none;
    width: 200%;
    border-bottom: 1px solid black;
    font-size: 16px;
    outline: none;
}

.lgnbtn{
    margin-top: 40px;
    width: 100px;
    height: 31px;
    border-radius: 10px;
    background-color: rgb(67, 167, 255);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.lgnbtn:hover{
    background-color: rgb(44, 157, 255);
    font-weight: bold;
}

.lgnregbtn{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 100px;
    height: 31px;
    border-radius: 10px;
    background-color: rgb(14, 155, 155);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.lgnregbtn:hover{
    background-color: rgb(29, 180, 180);
    font-weight: bold;
}